<table class = timetable>
  <thead>

    <tr>
      <th></th>
      <% day_iterator do |k, day| %>
        <th>
          <%= day %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (0...24).each do |time| %>
      <tr>
        <td>
          <%= "#{time_label time} - #{time_label time + 1}"%>
        </td>
        <% day_iterator do |k, day| %>
          <td class="<%= @event_day_time_list.include?([k, time]) ? "busy" : "free" %>"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>